.DS_Store
libft-unit-test-master/
a.out
Libft/.DS_Store
Libft/.vscode/launch.json
Libft/a.out.dSYM/Contents/Info.plist
ft_printf/a.out.dSYM/Contents/Info.plist
ft_printf/.vscode/launch.json
ft_printf/.vscode/settings.json
ft_printf/.vscode/tasks.json
get_next_line/.vscode/tasks.json
get_next_line/.vscode/launch.json
get_next_line/a.out.dSYM/Contents/Info.plist
