
get_next_line.en.subject.pdf
a.out.dSYM/Contents/Resources/DWARF/a.out
a.out.dSYM/Contents/Info.plist
a.out
.vscode/tasks.json
.vscode/launch.json
test.txt
1char.txt
empty.txt
giant_line.txt
giant_line_nl.txt
lines_around_10.txt
multiple_nl.txt
one_line_no_nl.txt
only_nl.txt
read_error.txt
variable_nls.txt
leacks_cheker_ex.c
test2.txt
gnlTester-master/.vscode/settings.json
gnlTester-master/Dockerfile
gnlTester-master/files/41_no_nl
gnlTester-master/files/41_with_nl
gnlTester-master/files/42_no_nl
gnlTester-master/files/42_with_nl
gnlTester-master/files/43_no_nl
gnlTester-master/files/43_with_nl
gnlTester-master/files/alternate_line_nl_no_nl
gnlTester-master/files/alternate_line_nl_with_nl
gnlTester-master/files/big_line_no_nl
gnlTester-master/files/big_line_with_nl
gnlTester-master/files/empty
gnlTester-master/files/multiple_line_no_nl
gnlTester-master/files/multiple_line_with_nl
gnlTester-master/files/multiple_nlx5
gnlTester-master/files/nl
gnlTester-master/Makefile
gnlTester-master/README.md
gnlTester-master/tests/bonus.cpp
gnlTester-master/tests/mandatory.cpp
gnlTester-master/utils/check.cpp
gnlTester-master/utils/check.hpp
gnlTester-master/utils/color.cpp
gnlTester-master/utils/color.hpp
gnlTester-master/utils/gnl.cpp
gnlTester-master/utils/gnl.hpp
gnlTester-master/utils/leaks.cpp
gnlTester-master/utils/leaks.hpp
gnlTester-master/utils/sigsegv.cpp
gnlTester-master/utils/sigsegv.hpp
